<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="/assets/css/newoutreachform.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
    
        
  <div class="container">

    <div class="title">Consultation Form</div>
    <div class="content">

        <form method="post" action="/edit/<%- studentdata._id %>">
            <div class="formclass">
                <h2>MINISTRY OF HEALTH AND UGANDA CANCER INSTITUTE</h2>
                <div class="description">
                    <h2>DESCRIPTION OF QUESTIONS</h2>
                    
                    <h2>SECTION A: Description </h2>
                </div>
        
            <div class="user-details">
                <div class="input-box1">
                    <span class="details">Date of Consultation</span>
                    <input type="textarea" id="rdate" name="rdate" readonly="true" value="<%- studentdata.createdAt %>" / />
                  </div>  
                  <div class="input-box1">
                    <span class="details">Client Number</span>
                    <input type="text" id="clientNo" name="clientNo"  readonly="true" value= "<%- studentdata.clientNumber %>" / />
                  </div>   
          <div class="input-box1">
            <span class="details">Location Of Outreach</span>
            <input type="textarea" id="location" name="location" readonly="true" value="<%- studentdata.location %>" / />
          </div>
          <div class="input-box">
            <span class="details">Full Names</span>
            <input type="name" id="name" name="name" readonly="true" value="<%- studentdata.name %>" / />
          </div>
          <div class="input-box">
            <span class="details">Date of Birth</span>
            <input type="date" id="dob" name="dob" readonly="true" value="<%- studentdata.dob %>" / />
          </div>
          <div class="input-box">
            <span class="details">Age</span>
            <input type="text" id="age" name="age" readonly="true" value="<%- studentdata.age %>" / />
          </div>
         
          
        </div>
        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <input type="radio" name="gender" id="dot-3">
          <span class="gender-title">Gender</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Male</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Female</span>
          </label>
          
          </div>
        </div>
        <div class="user-details">
            
              <div class="input-box1">
                <span class="details">NIN</span>
                <input type="text" id="nin" name="nin" readonly="true" value="<%- studentdata.nin %>" / />
              </div>
        <!-- </div>
        <div class="gender-details">
            <input type="radio" name="clientcategory" id="dot-1">
            <input type="radio" name="clientcategory" id="dot-2">
            <input type="radio" name="clientcategory" id="dot-3">
            <span class="gender-title">Client category</span>
            <div class="category">
              <label for="dot-1">
              <span class="dot one"></span>
              <span class="clientcategory">National</span>
            </label>
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="clientcategory">Refugee</span>
            </label>
            <label for="dot-3">
                <span class="dot three"></span>
                <span class="clientcategory">Foreigner</span>
              </label>
            </div>
          </div> -->
          <div class="user-details">
            
            <div class="input-box">
              <span class="details">District</span>
              <input type="text" id="district" name="district" readonly="true" value="<%- studentdata.district %>" / /><br>
            </div>
            
            
                <div class="input-box">
                  <span class="details">Sub-county</span>
                  <input type="text" id="subcounty" name="subcounty" readonly="true" value="<%- studentdata.subcounty %>" / />
                </div>
                <div class="input-box">
                    <span class="details">Village</span>
                    <input type="text" id="village" name="village" readonly="true" value="<%- studentdata.village %>" / /><br>
                  </div>
                  <div class="input-box">
                    <span class="details">Parish</span>
                    <input type="text" id="parish" name="parish" readonly="true" value="<%- studentdata.parish %>" / /><br>
                  </div>
                  <div class="input-box">
                    <span class="details">Tribe</span>
                    <input type="text" id="tribe" name="tribe" readonly="true" value="<%- studentdata.tribe %>" / /><br>
                  </div>
                  <div class="input-box">
                    <span class="details">Occupation</span>
                    <input type="text" id="occupation" name="occupation" value="<%- studentdata.occupation %>" / />
                  </div>
                  <div class="input-box1">
                    <span class="details">Phone Number</span>
                    <input type="text" id="phoneNo" name="phoneNo" readonly="true" value="<%- studentdata.phoneNo %>" / />
                  </div>
                  <div class="input-box">
                    <span class="details">Complaint/Purpose for visit</span>
                    <input type="text" id="complaint" name="complaint" readonly="true" value="<%- studentdata.complaint %>" / />
                  </div>
                 
                  <h2>SECTION B: For Physician Use </h2>
                  <div class="input-box">
                    <span class="details">Physical Findings</span>
                    <input type="text" id="findings" name="findings" value="<%- studentdata.findings %>" / /> 
                  </div>
                  <div class="input-box">
                    <span class="details">Tests requested/done</span>
                    <input type="text" id="tests" name="tests" value="<%- studentdata.tests %>" / />
                  </div>
                  <div class="input-box">
                    <span class="details">Outcome/Result</span>
                    <input type="text" id="result" name="result" value="<%- studentdata.result %>" / />
                  </div>
                  <div class="input-box">
                    <span class="details">Lesion size if applicable</span>
                    <input type="text" id="lesionsize" name="lesionsize" value="<%- studentdata.lesionsize %>" / />
                  </div>
                  <div class="input-box">
                    <span class="details">Referred to/By</span>
                    <input type="text" id="referredTo" name="referredTo" value="<%- studentdata.referredTo %>" / />
                  </div>
                  <div class="input-box">
                    <span class="details">Next follow up date if applicable</span>
                    <input type="text" id="followUpDate" name="followUpDate" value="<%- studentdata.followUpDate %>" / />
                  </div>
                  
      </div>
      <!-- <div class="gender-details">
        <input type="radio" name="clientcategory" id="dot-1">
        <input type="radio" name="clientcategory" id="dot-2">
        <input type="radio" name="clientcategory" id="dot-3">
        <span class="gender-title">Client category</span>
        <div class="category">
          <label for="dot-1">
          <span class="dot one"></span>
          <span class="clientcategory">National</span>
        </label>
        <label for="dot-2">
          <span class="dot two"></span>
          <span class="clientcategory">Refugee</span>
        </label>
        <label for="dot-3">
            <span class="dot three"></span>
            <span class="clientcategory">Foreigner</span>
          </label>
        </div>
      </div> -->
        <div class="button">
            <button id="submit">submit</button>
        </div>
        <div class="footer" style="margin-left: 200px;"><p>Health Management Information System <span>Health unit and communnity proceedure Manual</span></p></div>
      </form>
    </div>
  </div>

</body>
</html>
