<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="/assets/css/specialistform.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>

   
<body>
    
        
  <div class="container">

    <div class="title">Register specialist</div>
    <div class="content">

        <form method="post" action="/specialistReg/update/<%- studentdata._id %>">
            <div class="formclass">
                
            <div class="user-details">
          <div class="input-box1">
            <span class="details">first Name</span>
            <input type="textarea" id="firstname" name="firstname" value="<%- studentdata.firstname %>" / />
          </div>
          <div class="input-box1">
            <span class="details">Last Name</span>
            <input type="text" id="lastname" name="lastname" value="<%- studentdata.lastname %>" / />
          </div>
          
   
        <div class="gender-details">
          <label for="gender">Gender</label><br>
          <select name="gender" id="gender" >
            <option value=""></option>
            <option value="female">Female</option>
            <option value="male">Male</option>
        </select>
          
          </div>
        </div>

        <div class="gender-details">

          <label for="specialisation">Specialisation</label><br>
          <select name="specialisation" id="specialisation" value="<%- studentdata.specialisation %>" / />
            <option value=""></option>
              <option value="<%- studentdata.specialisation %>" / />Throat Cancer</option>
              <option value="breast">Breast Cancer</option>
              <option value="prostate">Prostate Cancer</option>
              <option value="breast">Cervical Cancer</option>
          </select>
          <p class="specialisation_info.warnP"></p>
      </div>




        <div class="user-details">
            
              <div class="input-box1">
                <span class="details">Location</span>
                <input type="text" id="location" name="location" value="<%- studentdata.location %>" / />
              </div>
       
          <div class="user-details">
            
            <div class="input-box1">
              <span class="details">Phone Number</span>
              <input type="text" id="telephoneNo" name="telephoneNo" value="<%- studentdata.telephoneNo %>" / />
            </div>
            
            
                <div class="input-box1">
                  <span class="details">Email</span>
                  <input type="email" id="email" name="email" value="<%- studentdata.email %>" / />
                </div>
               
                  
      </div>
      </div>
        <div class="button">
          <input type="submit" value="register">
        </div>
      </form>
    </div>
  </div>

</body>
</html>
